.container {
	border-style: solid;
	border-color: white;
	border-width: 1px;
/*	font-weight: black;
	color: white;
	font-family: 'Roboto', sans-serif;
*/}

body {
	background-image: url(../images/nyskyline.jpg);
	background-size: 100%;
	margin-top: 10%;
}

h3, h1, h4, h2 {
	color: white;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: thin;
}

#title {
	font-weight: bold;
	
}

#nasa {
	height: 20%;
	width: 20%;
	left: 0px;
	float: left;
	margin-top: -25px;
}

#wutanglogo {
	height: 20%;
	width: 20%;
	float: right;
	margin-top: -60px;
}
